
.about-page {
    padding: 20px;
  }
  
  .about-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .about-image img {
    width: 200px;
    height: 200px;
    border-radius: 120px;
  }
  
  .about-text {
    flex: 1;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .about-text p{
    margin-top: 0;
  }
  